@font-face {
  font-family: 'Visuelt Pro';
  src: url('../fonts/VisueltPro-Regular.eot');
  src: url('../fonts/VisueltPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VisueltPro-Regular.svg#VisueltPro-Regular') format('svg'),
       url('../fonts/VisueltPro-Regular.ttf') format('truetype'),
       url('../fonts/VisueltPro-Regular.woff') format('woff'),
       url('../fonts/VisueltPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url('../fonts/VisueltPro-Medium.eot');
  src: url('../fonts/VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VisueltPro-Medium.svg#VisueltPro-Medium') format('svg'),
       url('../fonts/VisueltPro-Medium.ttf') format('truetype'),
       url('../fonts/VisueltPro-Medium.woff') format('woff'),
       url('../fonts/VisueltPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url('../fonts/VisueltPro-Italic.eot');
  src: url('../fonts/VisueltPro-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VisueltPro-Italic.svg#VisueltPro-Italic') format('svg'),
       url('../fonts/VisueltPro-Italic.ttf') format('truetype'),
       url('../fonts/VisueltPro-Italic.woff') format('woff'),
       url('../fonts/VisueltPro-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

