<nav class="navbar fixed-bottom navbar-light bg-faded">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-12 card card-block my-1 text-center">
        <div class="d-block d-sm-none">viewport is extra small <code>xs</code></div>
        <div class="d-none d-sm-block d-md-none">viewport is small <code>sm</code></div>
        <div class="d-none d-md-block d-lg-none">viewport is medium <code>md</code></div>
        <div class="d-none d-lg-block d-xl-none">viewport is large <code>lg</code></div>
        <div class="d-none d-xl-block">viewport is extra large <code>xl</code></div>
      </div>
    </div>
  </div>
</nav>